{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    {{ include('partials/_navbar.html.twig') }}

    <div class="example-wrapper">
        <h1>À propos (About)</h1>
        <p>Ceci est la page "À propos" créée pour le TP Symfony.</p>
        <p>Nous sommes des étudiants en 5ème année Informatique et Gestion.</p>
    </div>
{% endblock %}