{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {# On inclut toujours la navbar pour naviguer #}
    {{ include('partials/_navbar.html.twig') }}

    <div class="example-wrapper">
        <h1>Page de Contact</h1>
        <p>Ceci est la page de contact du DummyController.</p>
        
        {# Exemple de formulaire simple (optionnel) #}
        <form>
            <label>Email:</label> <input type="text" />
            <button type="submit">Envoyer</button>
        </form>
    </div>
{% endblock %}